body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    cursor: url('Pictures-Website/Fish-icon.png') 64 64, auto; /*does not work properly at the time*/
    padding-top: 85px; /* Adjusted for fixed header */
    padding-bottom: 90px; /* Adjusted for fixed footer */
}

header {
    background-color: #0e613f;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

/* QR Code Styling */
.header-right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.qr-code {
    width: 75px; /* Größe anpassen */
    height: 75px;
    margin-right: 10px; /* Abstand zwischen QR-Code und Text */
}

.header-text {
    font-size: 14px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

/* Section Styling */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 90%; /* Breite beschränken */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


section h2 {
    color: #074e33;
}

section:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

/* Footer Styling */
footer {
    background-color: #0e613f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.wiki-link {
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    font-weight: normal;
    margin-left: 10px;
}

.wiki-link:hover {
    text-decoration: underline;
}

/* Cookie Pop-up */
#cookie-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#popup-content h2 {
    margin: 0 0 10px;
}

#popup-content p {
    margin-bottom: 20px;
}

#popup-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#accept-cookies {
    background: #0e613f;
    color: white;
}

#decline-cookies {
    background: #e74c3c;
    color: white;
}

#popup-content button:hover {
    opacity: 0.9;
}